# Configurações do Ambiente
ENVIRONMENT=development
# Altere para a URL do seu banco Postgres local para testes
DATABASE_URL=postgresql://usuario:senha@localhost:5433/assistente_db

# Chaves de API (Serão preenchidas nas próximas etapas)
SECRET_KEY=sua_chave_secreta_aqui
GEMINI_API_KEY=AIzaSyAqZvwcUt60Ha4YC9R2JCI2dHATh8Oh5E0
OPENAI_API_KEY=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
REDIS_URL=redis://localhost:6379/0