# Configurações do Ambiente
ENVIRONMENT=development
# Altere para a URL do seu banco Postgres local para testes
DATABASE_URL=postgresql://usuario:senha@localhost:5432/assistente_db

# Chaves de API (Serão preenchidas nas próximas etapas)
SECRET_KEY=sua_chave_secreta_aqui
GEMINI_API_KEY=
REDIS_URL=redis://localhost:6379/0