fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
alembic==1.13.0
python-dotenv==1.0.0
bcrypt==4.1.2
PyJWT==2.8.0
email-validator==2.1.0
python-multipart==0.0.6
websockets==12.0
google-generativeai>=0.4.0
pillow
redis==5.0.1
openai
asyncpg
greenlet
google-auth==2.30.0
google-auth-httplib2==0.2.0
requests==2.32.3
aiosmtplib
resend
httpx